@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Mono:wght@700&display=swap');

* {
    font-family: Roboto;
    color: white;
    box-sizing: border-box;
}

body {
    display: grid;
    grid: 
    'nav main' 1fr
    / 1fr  3fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#nav {
    background: black;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 200px;
    grid-area: nav;
}


h1 {
    font-family: Ubuntu mono;
    font-size: 3vw;
    color: #3f3fff;
}

h1, h3, p {
    margin: 0px 20px;
}

h3 {
    font-size: 1.5vw;
}

p {
    font-size: 1.2vw;
}

#button-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 50%;
}

#searchInput {
    font-size: 1.4vw;
    color: black;
    padding: 0px;
    margin: 5px;
    min-height: 30px;
    width: 20vw;
    min-width: 80px;
    height: 1.5vw;
    align-self: center;
    border: 2px solid #3f3fff;
    border-radius: 5px;
}

button {
    font-size: 1.2vw;
    background-color: black;
    border: 2px solid #3f3fff;
    width: 13vw;
    min-height: 50px;
    height: 4vw;
    align-self: center;
    border-radius: 5px;
    transition: .5s;
}

button:hover {
    color: white;
    background-color: #3f3fff;
    border: 2px solid white;
}

#main img {
    align-self: center;
}

.mars-image {
    align-self: center;
    width: 100%;
    height: 100%;
} 

#main {
    display: flex;
    gap: 25px;
    position: relative;
    grid-area:  main;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding: 0px;
    margin: 0;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    justify-content: center;
    overflow: hidden;
}

iframe {
    width: 100%;
}

div#main-bar {
    background-color: black;
    width: 70%;
    right: 20px;
    bottom: 20px;
    position: absolute;
    z-index: 10;
    transition: 3s;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* This class with faded-in controls fading DOM elements in and out when the 
class is removed or added back in with JavaScript */
.faded-out {
    opacity: 0;
}

#expand {
    position: absolute;
    bottom: 0px;
    left: 60%;
    height: 40px;
    border-radius: 5px;
    background: black;
    opacity: .4;
    z-index: 15;
}


div#main-bar span {
    font-family: Ubuntu mono;
    font-size: 1.5vw;
    color: #3f3fff;
    font-weight: 900;
}

div#main-bar p {
    font-size: 1.3vw;
    color: white;
}

span#date {
    margin-left: auto;
    font-size: 1.5vw;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    color: lightgray;
    background-color: black;
    width: 3.1rem;
    height: 3.1rem;
    opacity: .3;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    transition: .4s;
    border-radius: 5px;
}

.arrow:hover {
    opacity: .6;
    color: white;
}

#forward {
    right: 10px;
}

#back {
    left: 10px;
}

@media (max-width: 850px) {
    body {
        display: flex;
        flex-direction: column;
    }

    #nav {
    gap: 10px;
    height: 25%;
    }

    #button-box {
        flex-direction: row;
        gap: 5px;
    }

    h1 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: .8rem;
    }

    p {
        font-size: .7rem;
    }

    h1, h3, p {
        margin: 0px 10px;
    }

    button {
        font-size: .7rem;
        width: 100px;
        height: 30px;
    }
    #searchInput {
        font-size: .7rem;
    }

    div#main-bar {
        width: 90vw;
    }
    div#main-bar span {
        font-size: 1rem;
    }
    
    div#main-bar p {
        font-size: .9rem;
    }
    
    span#date {
        font-size: 1rem;
    }
}