@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Mono:wght@700&display=swap');

* {
    font-family: Roboto;
    color: white;
    box-sizing: border-box;
}

body {
    display: grid;
    grid: 
    'nav main' 1fr
    / 1fr  3fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#nav {
    background: black;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 200px;
    grid-area: nav;
}

h1 {
    font-family: Ubuntu mono;
    color: #3f3fff;
}

h1, h3, p {
    margin: 0px 20px;
}

h1 {
    font-size: 2.5rem;
}

#searchBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    align-self: center;
}

#searchInput {
    padding: 0px;
    margin: 5px;
    height: 25px;
    width: 80%;
    min-width: 175px;
    align-self: center;
    border: 2px solid #3f3fff;
    border-radius: 5px;
}

button {
    background-color: black;
    border: 2px solid #3f3fff;
    width: 150px;
    height: 50px;
    align-self: center;
    border-radius: 5px;
    transition: .5s;
}

button:hover {
    color: white;
    background-color: #3f3fff;
    border: 2px solid white;
}

#main {
    display: flex;
    position: relative;
    background: darkgrey;
    background-size: cover;
    grid-area:  main;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding: 0;
    margin: 0;
    transition: .4s;
}

iframe {
    width: 100%;
}

div#main-bar {
    font-size: .9rem;
    background-color: black;
    width: calc(100% - 20px);
    max-height: 300px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    transition: 3s;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* This class with faded-in controls fading DOM elements in and out when the 
class is removed or added back in with JavaScript */
.faded-out {
    opacity: 0;
}

#expand {
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: 50%;
    height: 40px;
    border-radius: 5px;
    background: black;
    opacity: .4;
    z-index: 15;
}

div#main-bar p {
    color: whitesmoke;
}

div#main-bar span {
    color: #3f3fff;
    font-weight: 900;
}

div#main-bar p {
    color: white;
}

span#date {
    margin-left: auto;
}
